*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
}

.introduction,.muscles,.bringing_exercise,.complications{
	width: 100%;
	height: 110vh;
}
.introduction{

  
   
   
    background-image: repeating-linear-gradient(to top,rgb(83, 227, 110) 0%,rgb(150, 231, 159) 58.6%,rgb(171, 245, 184) 99.2%,rgb(152, 224, 84) 100%);
 


}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
	height: 20vh;
	margin: auto;

	list-style-type: none;

}
nav li{
	margin: auto;

	
}
nav ul a{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}
.content{
	display: flex;
	justify-content: space-between;
	padding-top: 7%;
	padding-left: 5%;
    
}
	
#description{
	width: 100%;
	color: #fff;
	font-size: 30px;
	text-align: center;
}

.characteristics{
	margin-top: 12%;
}
.characteristics div{

	margin-top: 5%;
	margin-left: 10%;
	width: 80%;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}
.slider {

      position: relative;
      overflow: hidden;

    }


.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  width:100%;
  height: 100%;
}
.slider__item img{
	width:500px;
	height:280px;
}



.slider__control {
  position: absolute;
  top: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
}
.slider__control_left{
	transform: translateX(83px);
}
.slider__control_right{
	transform: translateX(-83px);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}






#muscles{
	height: 70vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	vertical-align: center;
	font-size: 20px;
}
#muscles .left{
	width: 40%;
	border-right: 2px solid #000;

}
#muscles .right{
	width: 60%;
}

#muscles .header,#muscles .description,#muscles .particular{
	width: 100%;
}
#muscles .header{
	position: relative;
	height: 30vh;
	font-size: 40px;
	margin-bottom: 10vh;


}
#muscles .right .header{
	margin-bottom: 6vh;
}
	
#muscles .header span{
	position: absolute;
	left: 33%;
	top: 25%;
}
.particular{

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.particular div{
	display: flex;
	justify-content: space-around;
	width: 50%;
	height: 20vh;

}
.particular div span{
	margin-left: 10%;

}






#bringing_exercise .header{
	padding-top: 25vh;
	padding-bottom: 25vh;
	
    background-image: repeating-linear-gradient(to bottom right,rgb(0, 157, 195) 0%,rgb(6, 166, 208) 100%);
 


}
#bringing_exercise h2{
	text-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 40px; 

}
#bringing_exercise ol{
	height: 210vh;
}
#bringing_exercise li{
	display: flex;
	justify-content: space-between;
	height: 70vh;
}
#bringing_exercise .left{
	width: 40%;
	text-align: center;
	padding-top: 15vh;
	font-size: 70px;

}
#bringing_exercise .left span{
	opacity: 0.5;

}
#bringing_exercise .left div{
	padding-top: 5vh;
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 50px;

}
#bringing_exercise .right{
	text-align: center;
	width: 60%;
	font-size: 25px;
}
#bringing_exercise .right div{
	height: 100%;
}

#bringing_exercise .right img{
	width:100%;
	height: 100%;
}
#bringing_exercise .first_exercise .left{

    background-image: repeating-linear-gradient(to top,rgb(137, 236, 164) 0%,rgb(147, 227, 156) 0%,rgb(145, 226, 154) 64%);
   

}
#bringing_exercise .second_exercise .left{

 
    background-image: repeating-linear-gradient(to top,rgb(151, 51, 24) 0%,rgb(79, 209, 94) 0%,rgb(108, 217, 120) 100%);
   

 

}
#bringing_exercise .third_exercise .left{


    background-image: repeating-linear-gradient(to top,rgb(151, 51, 24) -0.1%,rgb(43, 166, 57) 0%,rgb(40, 155, 53) 100%);
 

  
	

}





#complications .header{
	padding-top: 25vh;
	padding-bottom: 25vh;
	
  
    background-image: repeating-linear-gradient(to bottom right,rgb(0, 83, 103) 0%,rgb(4, 116, 145) 100%);
 
}
#complications h2{
	text-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 40px; 

}
#complications .image{
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
#complications .image div{
	width: 50%;
	height: 70vh;

}
#complications .image img{
	width: 100%;
	height: 100%;

}


footer{
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: space-between;
	font-size: 60px;
	text-align: center;
	vertical-align: center;

   



}
footer div{
	width: 50%;
	padding-top: 10vh;
}
footer a{
	text-decoration: none;
		color: #000;

}
footer img{
	width: 20%;
}