.header {
  background: url(../../img/bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}
.header::before {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(
    to left,
    rgba(0, 184, 212, 0.9),
    rgba(29, 233, 182, 0.9)
  );
  z-index: 1;
}
.header__wrap {
  position: relative;
  z-index: 2; 
  height: 100vh;
}
.header__top {
  position: absolute;
  display: flex;
  flex-wrap: wrap; /*Add this to make elements jumps to the next line when resizing the window*/
  padding-top: 50px;
  align-items: center;
  margin-bottom: 170px;   
}
.header__logo{
  flex-grow: 32;
}
.header__logo p img{
  margin-right: 10px;
}
.header__logo p {
  display: flex;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}
.header__logo p span {
  color: #ffffff;
  font-size: 15px;
  line-height: 15px;
  font-weight: 800;
}
.theLogo {
  display: flex;
  flex-flow: column;
}
.theMenu{
    flex-grow: 37;
}
.header__menu li {
  display: inline;
  margin-right: 50px;
}
.header__menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}
.header__button a {
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  padding: 6px 20px;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}
.first__container{
  position: absolute;

}
.header__description h1 {
  display: flex;
  font-size: 55px;
  line-height: 65px;
  font-weight: 800;
  color: #ffffff;
  max-width: 470px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.header__description span {
  display: flex;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
  max-width: 580px;
}
.header__button2 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 41px;
  padding-right: 43px;
  background-color: #061e37;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 5px 15px rgba(122,122,122,0.5);
}
.header__button3 a {
  text-decoration: none;
  color: #061e37;
  font-size: 15px;
  font-weight: 700;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 32px;
  padding-right: 26px;
  background-color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 5px 15px rgba(122,122,122,0.5);
}
.header__video{
  position: relative; 
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  z-index: 2;
  transform: translateY(14px);
}
.header__video::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255,255,255,0.9);
  z-index: 1;
}
.first__container{
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  margin-bottom: -26px;
}
.second__container{
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
}
.header__button2{
  flex-grow: 2;
}
.header__button3{
  flex-grow: 55;
}
@media (max-width: 1341px){
  .first__container{
    margin-bottom: 80px;
  }
  