*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 100%;
	min-width: 320px;
}
.wrap{
	max-width: 1980px;
	padding: 0 80px;
	margin: 0 auto;
	height: 100vh;

}
body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	
}