@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
  margin: auto;
}
.content{
  padding: 50px;
  margin: 0 auto;
}
.top_content{
	display: flex;
	justify-content: space-between;
}

.top_content img{
  border:solid;
  border-color: #000;
  border-width: 2px;
  border-radius: 20px;
  background-color: #FFFFFF;
}
.links{
	display: flex;
	flex-flow: column;
  align-items: center;
  justify-content: center;
}
.links a:hover{
  opacity: 0.5;
}
.links a{
  text-decoration: none;
}
.links span{
	font-weight: 600;
}
.imgs{
  border: solid;
  border-color: #fff;
  border-width: 3px;
  border-radius: 10px;
}
.header {	
  background: url(../img/bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  padding: 0px;
  margin: 0 auto;
}
.header::before {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(
    to left,
    rgba(210,156,255,1), 
    rgba(0,128,128,1) 
  );
  z-index: 1;
}
.content{
	position: relative;
	z-index: 2;
  width: 700px;
}
.main_container{
  display: flex;
  background-color: #CEF0FE;
  border-radius: 20px;
  width: 700px;
  height: 220px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  border: solid;
  border-width: 2px;
  border-color: #000;
}
.skills{
  width: 688px;
  padding: 6px;
  background-color: #CEF0FE;
  border: solid;
  border-color: #000000;
  border-radius: 20px;
  border-width: 2px;
  margin-bottom: 15px;

}
.skills li{
  list-style-type: none;
  line-height: 25px;
}
.achivments{
  width: 688px;
  padding: 6px;
  background-color: #CEF0FE;
  border: solid;
  border-color: #000000;
  border-radius: 20px;
  border-width: 2px;
  margin-bottom: 15px;
}
.achivments li{
  list-style-type: none;
  line-height: 25px;
}
.programmer_languages{
  width: 688px;
  padding: 6px;
  background-color: #CEF0FE;
  border: solid;
  border-color: #000000;
  border-radius: 20px;
  border-width: 2px;
  margin-bottom: 15px;
}
.programmer_languages li{
  list-style-type: none;
  line-height: 25px; 
}
.education{
  width: 688px;
  padding: 6px;
  background-color: #C9F1FF;
  border: solid;
  border-color: #000000;
  border-radius: 20px;
  border-width: 2px;
  margin-bottom: 15px;
}
.education li{
  list-style-type: none;
  line-height: 25px; 
}
