{% extends "base.html" %}
{% load static %}

{% block nav %}
    
        <div class="header__main container-fluid">
                <div class="row mt-5">
                  <div class="offset-md-4 col-md-5">
                    <h1>Центр решения задач</h1>
                    <p>Мы официальный дистрибьютер немецкого бренда caparol, являющегося наиболее известным, востребованным и авторитетным брендом в своей отрасли. Наш ассортимент включает в себя несколько товарных линеек и множество товаров.</p>
                    <button class="unique_btn btn btn-outline-info btn-light mx-auto">Подробнее</button>
                  </div>
                </div>
                <div class="sale d-flex justify-content-around">
                    <img src=" {% static 'img/gift.png' %} " alt="gift" class="gift">
                    <h3>Amphibolin <br><span>3 по цене 2</span></h3>
                    
                </div>
              </div>
            </header>
      <!-- who are we -->

    <div class="who__we container">
        <div class="row d-flex justify-content-around">
            <div class="title col-md-3 my-3">
              <h2>Кто мы</h2>
            </div>
            <div class="offset-md-2 col-md-7">           
               <p>Мы официальный дистрибьютер немецкого бренда caparol, являющегося наиболее известным, востребованным и авторитетным брендом в своей отрасли. Наш ассортимент включает в себя несколько товарных линеек и множество товаров.</p>
            </div>
        </div>
    </div>

    {% endblock nav %}

    {% block content %}

    <!-- why are we -->

    <div class="why__we container">
      <div class="row">
        <div class="title col-md-3 mx-auto"><h2 class=""><span>Почему</span> у нас</h2></div>
      </div>
      <div class="row d-flex justify-content-between">
          <div class="advantages">
            <div class="mx-auto"><img src="img/elf.png" alt="" class=""></div>
            <p>Сертифицированная продукция</p>
          </div>
          <div class="advantages">
              <div class="mx-auto"><img src="img/elf.png" alt="" class=""></div>
              <p>Сертифицированная продукция</p>
          </div>
          <div class="advantages">
              <div class="mx-auto"><img src="img/elf.png" alt="" class=""></div>
              <p>Сертифицированная продукция</p>
          </div>
        </div>
      </div>
    </div>

    <!-- main_goods -->

   
      

    <div id="lol" class="main__goods container-fluid carousel slide" data-ride="carousel">
          <div class="title col-md-4 mx-auto"><h2>Ключевые товары</h2></div>
      <div class="carousel-inner">
        <div class="carousel-item active paint">
          <div class="d-flex justify-content-around">
          <div class="col-md-4"><img src="img/amphibolin.jpg" alt="Amphibolin"></div>
          <div class="col-md-5 align-items-center">
            <h3>Amphibolin</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quia architecto nemo aliquid, earum ex possimus, sed cum commodi facilis unde tempora. Temporibus dignissimos deleniti similique rem architecto commodi. Ad!</p>
            <button class="unique_btn btn btn-outline-info btn-light mx-auto">Подробнее</button>
          </div>
          </div>
        </div>
        <div class="paint carousel-item">
          <div class="d-flex justify-content-around">
            <div class="col-md-4"><img src="img/capasilan.png" alt="Capasilan"></div>
            <div class="col-md-5 align-items-center">
              <h3>Capasilan</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quia architecto nemo aliquid, earum ex possimus, sed cum commodi facilis unde tempora. Temporibus dignissimos deleniti similique rem architecto commodi. Ad!</p>
              <button class="unique_btn btn btn-outline-info btn-light mx-auto">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="paint carousel-item">
          <div class="d-flex justify-content-around">
              <div class="col-md-4"><img src="img/samtex_3.png" alt="Samtex_3"></div>
              <div class="col-md-5 align-items-center">
                <h3>ghghgh</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quia architecto nemo aliquid, earum ex possimus, sed cum commodi facilis unde tempora. Temporibus dignissimos deleniti similique rem architecto commodi. Ad!</p>
                <button class="unique_btn btn btn-outline-info btn-light">Подробнее</button>
              </div>
            </div>
        </div>
        <div class="paint carousel-item">
          <div class="d-flex justify-content-around">
              <div class="col-md-4"><img src="img/samtex_7.png" alt="Samtex_7"></div>
              <div class="col-md-5 align-items-center">
                <h3>ghghgh</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quia architecto nemo aliquid, earum ex possimus, sed cum commodi facilis unde tempora. Temporibus dignissimos deleniti similique rem architecto commodi. Ad!</p>
                <button class="unique_btn btn btn-outline-info btn-light">Подробнее</button>
              </div>
            </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#lol" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
      <a class="carousel-control-next" href="#lol" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
      </a>
      <a href="{% url 'goods:goods_list' %}" class="all__goods btn btn-outline-dark bg-light  col-md-2">Основной ассортимент</a>
    </div>
    <div class="category container">
      <div class="title row">
        <h2 class="mx-auto">Категории</h2>
      </div>   
      <div class="first row d-flex justify-content-between">
              <div class="col-md-2">
                <img src="img/paints.png" alt="" >
                <p>Краски</p>
              </div>
        <div class="offset-md-1 col-md-2">
          <img src="img/gruntovka.png" alt="">
          <p>Грунтовки</p>
        </div>
        <div class="offset-md-1 col-md-2">
            <img src="img/shpakl_shtuk.png" alt="">
            <p>Шпаклевки и штукатурки</p>
          </div>
          <div class="offset-md-1 col-md-2">
              <img src="img/emali_laki.png" alt="">
              <p>Эмали и лаки</p>
          </div>
      </div>
      <div class="second row d-flex justify-content-between">
          <div class="col-md-2">
              <img src="img/dekor.png" alt="">
              <p>Декоратвные настенные покрытия</p>
          </div>
          <div class="offset-md-1 col-md-2">
            <img src="img/protect.png" alt="">
            <p>Защита зданий и сооружений</p>
        </div>
        <div class="offset-md-1 col-md-2">
            <img src="img/teploiz.png" alt="">
            <p>Теплоизоляция фасадов Capatect</p>
        </div>
        <div class="offset-md-1 col-md-2">
            <img src="img/restavr.png" alt="">
            <p>Материалы для реставрации</p>
        </div>
      </div>
    </div>
    <div class="request container-fluid">
      <div class="row d-flex justify-content-around">
        <div class="form col-md-6">
          <form action="{% url 'main:question' %}" method="POST">
            {% csrf_token %}
            <div>
              <label for="#telephone">Телефон</label>
              <input type="text" id="telephone" name="phone">
            </div>
            <p>или</p>
            <div>
              <label for="">Вконтакте</label>
              <input type="text" class="vk" name="vk">
            </div>
            <p>или</p>
            <div>
              <label for="">Почта</label>
              <input type="text" class="mail" name="email">
            </div>
            <button type="submit">Отправить</button>
          </form>
        </div>
        <div class="title col-md-6">
          <h1>Что выбрать</h1>
          <p>Оставьте заявку и мы поможем подобрать необходимый материал</p>
        </div>
      </div>
    </div>
    <div class="map container-fluid">
      <div class="row align-items-center justify-content-around">
        <div class="title col-md-3">
          <h2 class="mx-auto">Где нас найти</h2>
        </div>
        <div class="col-md-5">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aea04a7db16a2d1880adb2bebf42723bfe14722155f9432aac97d99e2c1b4cd2e&amp;width=600&amp;height=382&amp;lang=ru_RU&amp;scroll=true"></script>        </div>
      </div>
    </div>
    <footer>

    </footer>
{% endblock content %}    