{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    
    {% if form.errors %}
        <p>Your username or password didnt match</p>
    {% else %}
        <p>Use the following form to login</p>
    {% endif %}
    <div>
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name='next' value='{{ next }}'>
            <p><input type="submit" value="Login"></p>
        </form>
    </div>
        
{% endblock content %}
    